body {
  background: #25313e;
  color: #fff;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 2rem;
}

.window {
  width: 80%;
  margin: 0 auto 2rem;
  box-shadow: 0 0.25rem 0.5rem #12181e;
  border-radius: 0 0 0.1rem 0.1rem;
}

.bar {
  background: #191919;
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.btn::before,
.btn::after,
.btn {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btn {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}
.btn::before,
.btn::after {
  content: " ";
  position: absolute;
}
.btn::before {
  background: #f55551;
  margin-left: -20px;
}
.btn::after {
  background: #32c146;
  margin-left: 20px;
}

.body {
  height: 10rem;
  background: #232323;
  padding: 10px;
}
.body pre {
  margin: 0;
}
.command {
  color: #c0c0c0;
  padding-left: 0px;
}
