<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/dashboard/dashboard.css">
</head>

<body>
  <!--/ My brand
-->
  <div class="brand">
    <a href="https://www.jamiecoulter.co.uk" target="_blank">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png" />
    </a>
  </div>
  <!--/ Begin Body
-->
  <div class="swanky">
    <!--/ Introduction Block
  -->
    <div class="swanky_title">
      <h1>Welcome back {{username}}</h1>
      <p>What would you like to do today?</p>

      <div class="swanky_title__social">
        <a href="https://twitter.com/AbhinavKM_" target="_blank">
          <div class="slide">
            <div class="arrow">
              <div class="stem"></div>
              <div class="point"></div>
            </div>
          </div>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tw.png" />
          Twitter
        </a>
      </div>
      <div class="swanky_title__social">
        <a href="https://codepen.io/blacksmithop" target="_blank">
          <div class="slide">
            <div class="arrow">
              <div class="stem"></div>
              <div class="point"></div>
            </div>
          </div>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cp.png" />
          Codepen
        </a>
      </div>
    </div>
    <!--/////////// Begin Dropdown ////////////
  -->
    <div class="swanky_wrapper">
      <input id="Dashboard" name="radio" type="radio"></input>
      <label for="Dashboard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/dash.png" />
        <span>Dashboard</span>
        <div class="lil_arrow"></div>
        <div class="bar"></div>
        <div class="swanky_wrapper__content">
          <ul>
            <li><a href="/stats">Bot</a></li>
            <a href="/usage"><li>Usage</li></a>
            <a href="/logs"><li>Logs</li></a>
            <li>Code Blocks</li>
          </ul>
        </div>
      </label>
      <input id="Sales" name="radio" type="radio"></input>
      <label for="Sales">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/del.png" />
        <span>Sales</span>
        <div class="lil_arrow"></div>
        <div class="bar"></div>
        <div class="swanky_wrapper__content">
          <ul>
            <li>New Sales</li>
            <li>Expired Sales</li>
            <li>Sales Reports</li>
            <li>Deliveries</li>
          </ul>
        </div>
      </label>
      <input id="Messages" name="radio" type="radio"></input>
      <label for="Messages">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png" />
        <span>Messages</span>
        <div class="lil_arrow"></div>
        <div class="bar"></div>
        <div class="swanky_wrapper__content">
          <ul>
            <li>Inbox</li>
            <li>Outbox</li>
            <li>Sent</li>
            <li>Archived</li>
          </ul>
        </div>
      </label>
      <input id="Users" name="radio" type="radio"></input>
      <label for="Users">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png" />
        <span>Users</span>
        <div class="lil_arrow"></div>
        <div class="bar"></div>
        <div class="swanky_wrapper__content">
          <ul>
            <li>New User</li>
            <li>User Groups</li>
            <li>Permissions</li>
            <li>Passwords</li>
          </ul>
        </div>
      </label>
      <input id="Settings" radio="radio" type="radio"></input>
      <label for="Settings">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/set.png" />
        <span>Settings</span>
        <div class="lil_arrow"></div>
        <div class="swanky_wrapper__content">
          <ul>
            <li>Databases</li>
            <li>Design</li>
            <li>Change User</li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </label>
    </div>
    <!--/////////// End Dropdown ////////////
  -->
  </div>
  <!--/ My Footer
-->
  <div class="love">
    <p>Remixed with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href='https://blacksmithop.xyz/' target='_blank'> BlackSmithOP </a></p>
  </div>

</body>

</html>